.site-logo {
  .st0 {
    opacity: 0.15;
    fill: #45413c;
  }
  .st1 {
    fill: #ffe500;
  }
  .st2 {
    fill: #ebcb00;
  }
  .st3 {
    fill: none;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st4 {
    fill: #ffaa54;
  }
  .st5 {
    fill: #ff8a14;
  }
  .st6 {
    fill: #ffb0ca;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st7 {
    fill: #ff87af;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st8 {
    fill: #ffcc99;
  }
  .st9 {
    fill: #ffffff;
  }
  .st10 {
    fill: #f0f0f0;
  }
  .st11 {
    fill: #bf8256;
  }
  .st12 {
    fill: #915e3a;
  }
  .st13 {
    fill: #dea47a;
  }
  .st14 {
    fill: #f0d5a8;
  }
  .st15 {
    fill: #debb7e;
  }
  .st16 {
    fill: #f7e5c6;
  }
  .st17 {
    fill: #ff8a14;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st18 {
    fill: #fff5e3;
  }
  .st19 {
    fill: #fff48c;
  }
  .st20 {
    fill: #fffacf;
  }
  .st21 {
    fill: #fffce5;
  }
  .st22 {
    fill: #ff87af;
  }
  .st23 {
    fill: #ffb0ca;
  }
  .st24 {
    fill: #ffe500;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st25 {
    fill: #9ceb60;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st26 {
    fill: #fffacf;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st27 {
    fill: #00f5bc;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st28 {
    fill: #bf8256;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st29 {
    fill: #ffe3cf;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st30 {
    fill: #ff6242;
  }
  .st31 {
    fill: #ff866e;
  }
  .st32 {
    fill: none;
    stroke: #e04122;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st33 {
    fill: #fffef2;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st34 {
    fill: #ff6242;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st35 {
    fill: #ffa694;
  }
  .st36 {
    fill: #ffffff;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st37 {
    fill: #fffef2;
  }
  .st38 {
    fill: #ff6196;
  }
  .st39 {
    fill: #b89558;
  }
  .st40 {
    fill: none;
    stroke: #915e3a;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st41 {
    fill: #debb7e;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st42 {
    fill: #6dd627;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st43 {
    fill: #e5f8ff;
  }
  .st44 {
    fill: #e8f4fa;
  }
  .st45 {
    fill: #e8f4fa;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st46 {
    fill: #ffccdd;
  }
  .st47 {
    fill: #e5f8ff;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st48 {
    fill: #00b8f0;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st49 {
    fill: #00b8f0;
  }
  .st50 {
    fill: #4acfff;
  }
  .st51 {
    fill: #e04122;
  }
  .st52 {
    fill: #e04122;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st53 {
    fill: #87898c;
  }
  .st54 {
    fill: #bdbec0;
  }
  .st55 {
    fill: #656769;
  }
  .st56 {
    fill: #525252;
  }
  .st57 {
    fill: #fff48c;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st58 {
    fill: #6dd627;
  }
  .st59 {
    fill: #eb6d00;
  }
  .st60 {
    fill: #46b000;
  }
  .st61 {
    fill: #80ddff;
  }
  .st62 {
    fill: #daedf7;
  }
  .st63 {
    fill: #bf8df2;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st64 {
    fill: #9f5ae5;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st65 {
    fill: #c8ffa1;
  }
  .st66 {
    fill: #e4ffd1;
  }
  .st67 {
    fill: #9ceb60;
  }
  .st68 {
    fill: #e5feff;
  }
  .st69 {
    fill: #b8ecff;
  }
  .st70 {
    fill: #e0e0e0;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st71 {
    fill: #e0e0e0;
  }
  .st72 {
    fill: none;
    stroke: #4f4b45;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st73 {
    fill: none;
    stroke: #4f4b45;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st74 {
    fill: #e0366f;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st75 {
    fill: none;
    stroke: #45413c;
    stroke-miterlimit: 10;
  }
  .st76 {
    fill: #ff866e;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st77 {
    fill: #45413c;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st78 {
    fill: #9f5ae5;
  }
  .st79 {
    fill: #803ec2;
  }
  .st80 {
    fill: #803ec2;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st81 {
    fill: #bf8df2;
  }
  .st82 {
    fill: #ffaa54;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st83 {
    fill: none;
    stroke: #45413c;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st84 {
    fill: #ffccdd;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st85 {
    fill: #ff6196;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st86 {
    fill: #ffe5ee;
  }
  .st87 {
    fill: #f7e5c6;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st88 {
    fill: #e5fff9;
  }
  .st89 {
    fill: none;
    stroke: #45413c;
    stroke-width: 1.0064;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st90 {
    fill: #4aeff7;
  }
  .st91 {
    fill: #a6fbff;
  }
  .st92 {
    fill: #e5feff;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st93 {
    fill: #46b000;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st94 {
    fill: #ffffff;
    stroke: #45413c;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st95 {
    fill: #ffffff;
    stroke: #45413c;
    stroke-miterlimit: 10;
  }
  .st96 {
    fill: #009fd9;
  }
  .st97 {
    fill: #00dfeb;
  }
  .st98 {
    fill: #c0dceb;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st99 {
    fill: #00dfeb;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st100 {
    fill: #ffe5ee;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st101 {
    fill: #8ca4b8;
  }
  .st102 {
    fill: #adc4d9;
  }
  .st103 {
    fill: #656769;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st104 {
    fill: #f0f0f0;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st105 {
    fill: #c0dceb;
  }
  .st106 {
    fill: #45413c;
  }
  .st107 {
    fill: #ffcabf;
  }
  .st108 {
    fill: #87898c;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st109 {
    fill: #ebcb00;
    stroke: #45413c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}
